div[class|="col"]{
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(86,61,124,0.15);
	border:2px solid rgba(86,61,124,0.2);
  margin-top: 0px;
}

.row{
	height: 150px;
}


.acomodo{
  margin-top: -8px;
}